@model IReadOnlyList<ObjetoEscuelaBase>

@{
}

<table>
    <thead class="table table-dark table-hover">
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var baseObj in @Model)
        {
            <tr>
                <td>@baseObj.UniqueId</td>
                <td>@baseObj.Nombre</td>
            </tr>
        }
    </tbody>
</table>

