@model IReadOnlyList<Alumno>

@{
    ViewData["Title"] = "All Students";
    Layout = "_SimpleLayout";
}



<h1>@ViewBag.Title</h1>
<section>
   <partial name="ListSchoolEntity" />  
    <p> <i>@ViewBag.Date</i></p>
</section>

