@model Asignatura 

@{
    ViewData["Title"] = "Assignment Information";
    Layout = "_SimpleLayout";
}



<h1>@ViewBag.Title</h1>
<section>
    <partial name="SingleAssingment"/>
    <p> <i>@ViewBag.Date</i></p>
</section>

