@model Asignatura

@{
    ViewData["Title"] = "Assignment Information";
    Layout = "_SimpleLayout";
}



<section>
    @*<h1>@ViewData["Title"]</h1>*@
    <h1>@ViewBag.Title</h1>
    <h2>Name:  @Model.Nombre</h2>
</section>

